---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import LabsBadge from '../components/LabsBadge.astro';
import WhySection from '../components/WhySection.astro';
import HowSection from '../components/HowSection.astro';
import ArchitectureSection from '../components/ArchitectureSection.astro';
import WarningLabel from '../components/WarningLabel.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<main>
		<Hero />
		<LabsBadge />
		<WhySection />
		<HowSection />
		<ArchitectureSection />
		<WarningLabel />
		<CTASection />
	</main>
	<Footer />
</Layout>
